<!-- //crussur// -->
<div style="overflow-x: hidden;">
<div id="carouselExampleDark" class="carousel carousel-dark slide" data-bs-ride="carousel">
  <!-- <div class="carousel-indicators">
    <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="2" aria-label="Slide 3"></button>
  </div> -->
  <div class="carousel-inner h-50">
    <div class="carousel-item active" data-bs-interval="10000">
      <img src="../assets/MainPageBanners/1.jpg" class="d-block w-100 h-50" alt="...">
      <div class="carousel-caption d-none d-md-block ">
        <a href="/products" class="btn" id="btnproduct">تسوق الان</a>
      </div>
    </div>
    <div class="carousel-item" data-bs-interval="2000">
      <img src="../assets/MainPageBanners/2.jpg" class="d-block w-100" alt="...">
      <div class="carousel-caption d-none d-md-block">
        <a href="/products" class="btn" id="btnproduct">تسوق الان</a>

      </div>
    </div>
    <div class="carousel-item">
      <img src="../assets/MainPageBanners/3.jpg" class="d-block w-100" alt="...">
      <div class="carousel-caption d-none d-md-block">
        <a href="/products" class="btn" id="btnproduct">تسوق الان</a>
      </div>
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
<br><br>
<!-- //*********************************************************************// -->

<!-- // الاكثر مبيعاً -->







<h2 style="color:  #a51731; font-weight: bold;" class="text-center">الأكثر مبيعاً</h2>
<br>
<!-- <div class="container-fluid ">
  <div class="row row-cols-1 row-cols-md-3 g-4 rowscr">

    <div *ngFor="let pro of products" class="card  p-3 m-2 imgcart cardscr col-lg-2 col-6 " >
          <img src="{{pro.Imgs[0]}}" class="card-img-top w-100 h-50 text-center   " >
          <div class="card-body">
            <h5 class="card-title text-center bg-light p-1 m-1">{{pro.Name}}</h5>
           <div class="text-center">
            <i class="fas fa-star icon"></i>
             <i class="fas fa-star icon"></i>
               <i class="fas fa-star icon "></i>
               <i class="fas fa-star icon"></i>
               <i class="fas fa-star icon"></i>
           </div>
            <p style="color:#a51731; font-weight: bold;   " class="card-text text-center m-2">EGP {{pro.Price}}</p>
            <button (click)="addProduct(pro)" *ngIf="pro.IsPreOrder" class="btncart2 ">احجز الان</button>
             <button (click)="addProduct(pro)" *ngIf="!pro.IsPreOrder" class="btncart">اضافه الي السلة  <i class="fas fa-cart-plus"></i></button>
           
           
           
          </div>
        </div>
  </div>
</div> -->
<br><br>

<!-- //*****************************************************************// -->

<!-- // two image -->
<div class="container-fliud">
  <div class="row text-center">
    <div class="col-lg-6 col-12 ">
      <img class="w-100 p-4 imggray " src="../assets/MainPageBanners/b1.jpg" alt="">
    </div>
    <div class="col-lg-6 col-12 ">
      <img class="w-100 p-4 imggray " src="../assets/MainPageBanners/b2.jpg" alt="">
    </div>
  </div>
</div>
<br><br>

<!-- //*****************************************************// -->

<!-- // 3 card shop now -->

<!-- <div class="text-center m-2">
    <button  id="btnproduct" >Shop Now</button>
</div> -->

<!-- //TODO make this back for mohanad -->
<!-- <div class="container-fluid">
    <div class="row text-align">
        <div style="position: relative;" class="col-lg-4 col-12 p-2 montg">
            <img  style=" width:428px ;height: 230px; "  src="../assets/Categories/1.jpg" alt="">
            <a href="/products" class="btn abs">تسوق الان</a>
        </div>

        <div style="position: relative;" class="col-lg-4 col-12 p-2 montg">
            <img  style=" width:428px ;height: 230px; "  src="../assets/Categories/2.jpg" alt="">
            <a href="/products" class="btn abs">تسوق الان</a>
        </div>

        <div style="position: relative;" class="col-lg-4 col-12 p-2 montg">
            <img  style=" width:428px ;height: 230px; "  src="../assets/Categories/3.jpg" alt="">
            <a href="/products" class="btn abs">تسوق الان</a>
        </div>
      </div>
  </div> -->
<br><br>

<!-- /////////////////////***************************************/// -->

<!-- <h2 class="text-center text-decoration">Product Tutorials</h2>
  <div class="container-fluid">
    <div class="row text-align">
        <div class="col-4">
            <iframe class="w-100" src="https://www.youtube.com/embed/WJZDbuH9WI4" frameborder="0"></iframe>
            <button class="btnfrm">How to put on your satin bonnet</button>
         
        </div>

        <div  class="col-4 ">
            <iframe class="w-100" src="https://www.youtube.com/embed/4MTGqf2JIgo" frameborder="0"></iframe>
            <button class="btnfrm">How to use cut the cramp cream</button>
        </div>

        <div  class="col-4">
            <iframe class="w-100" src="https://www.youtube.com/embed/Bg0O6gOD-GQ" frameborder="0"></iframe>
            <button class="btnfrm">How to use our anti frizz hair</button>
        </div>
      </div>
  </div> -->
<!-- //************************************************************// -->


<!-- // one image (مكواه فرد الشعر) -->
<br>
<div class="container-fliud text-center">
  <div class="row text-center">
    <div class="col-12">
      <img class="w-100 px-4" src="../assets/MainPageBanners/ban.png" alt="">
    </div>
  </div>
</div>
<br><br>

<!-- //***************************************************//* -->

<!-- // عروض اليوم  -->
<h2 style="color:  #a51731; font-weight: bold;" class="text-center">عروض اليوم</h2>
<br>

<div class="container-fluid ">
  <div class="row  rowscr">

      <div *ngFor="let pro of products" class="card  p-3 m-2 imgcart cardscr col-lg-2 col-6 " >
          <img src="{{pro.Imgs[0]}}" class="card-img-top w-100 h-50 text-center" (click)="goToDetails(pro._id)">
          <div class="card-body">
            <h5 class="card-title text-center bg-light p-1 m-1">{{pro.Name}}</h5>
           <!-- <div class="text-center">
              <i class="fas fa-sack-dollar dollar"></i>
           </div> -->
            <p style="color:#a51731; font-weight: bold;   " class="card-text text-center m-2 " ><i class="fab fa-searchengin dollar"></i> EGP {{pro.Price}}</p>
            <button (click)="addProduct(pro)"  class="btncart">اضافه الي السلة  <i class="fas fa-cart-plus"></i></button>
           
          </div>ِ
        </div>
  </div>
</div>
<br><br>



<!-- //*********************************************************// -->

<!-- //4 services -->
<div class="container d-flex flex-wrap text-light justify-content-center mb-3">

  <div class="px-2 m-2" style="min-width: 200px;">
    <div class="d-flex align-items-center justify-content-center rounded py-3 h-100 w-100"
      style="background-color: #9e9e9e;min-width: max-content;">
      <i class="fs-3 fas fa-shield-halved text-dark col-2"></i>
      <div class="vr col-1  mx-1"></div>
      <p class="p-0 m-0 col-8">دفع أمن 100%</p>
    </div>
  </div>

  <div class="px-2 m-2" style="min-width: 200px;">
    <div class="d-flex align-items-center justify-content-center rounded py-3 h-100 w-100"
      style="background-color: #9e9e9e;min-width: max-content;">
      <i class="fs-3 fas fa-headset text-dark col-2"></i>
      <div class="vr border-light col-1 mx-1"></div>
      <p class="p-0 m-0 col-8">خدمة ما بعد البيع</p>
    </div>
  </div>

  <div class="px-2 m-2" style="min-width: 200px;">
    <div class="d-flex align-items-center justify-content-center rounded py-3 h-100 w-100"
      style="background-color: #9e9e9e;min-width: max-content;">
      <i class="fs-3 fas fa-arrow-rotate-left text-dark col-2"></i>
      <div class="vr col-1  mx-1"></div>
      <p class="p-0 m-0 col-8">ضمان استرجاع الأموال</p>
    </div>
  </div>

  <div class="px-2 m-2" style="min-width: 200px;">
    <div class="d-flex align-items-center justify-content-center rounded py-3 h-100"
      style="background-color: #9e9e9e;min-width: max-content;">
      <i class="fs-3 fas fa-truck text-dark col-2"></i>
      <div class="vr col-1 mx-1"></div>
      <p class="p-0 m-0 col-8">شحن مجاني وسريع</p>
    </div>
  </div>

</div>
<!-- //*********************************************************// -->

<!-- //احدث التدوينات  -->
<br><br>
<h2 style="color:  #a51731; font-weight: bold;" class="text-center text-decoration">احدث التدوينات</h2>
<div class="container-fluid">
  <div class="row text-center">
    <div class="col-12 col-lg-4 p-2" style="position: relative;">
      <a href="./details1">
        <img class="w-100 " style=" height: 400px;" src="../../assets/extra/AboutPage.jpg" alt="">
        <div id="ko">
          <h3>Tips and Tricks for Thicker and Longer Hair</h3>
          <p class="m-1">The 411 on how to get the hair of your dreams!</p>
        </div>
      </a>

    </div>



    <div class="col-12 col-lg-4 p-2" style="position: relative;">
      <a href="./details2">
        <img class="w-100 " style=" height: 400px;" src="../../assets/extra/hair2.jpg" alt="">
        <div id="ko">
          <h3>Tips and Tricks for Thicker and Longer Hair</h3>
          <p class="m-1">The 411 on how to get the hair of your dreams!</p>
        </div>
      </a>
    </div>

    <div class="col-12 col-lg-4 p-2 " style="position: relative;">
      <a href="./details3">
        <img class="w-100 " style=" height: 400px;" src="../../assets/extra/ExchangePolicyPage.jpg" alt="">
        <div id="ko">
          <h3>Tips and Tricks for Thicker and Longer Hair</h3>
          <p class="m-1">The 411 on how to get the hair of your dreams!</p>
        </div>
      </a>
    </div>
  </div>
</div>
<br>
</div>


<!-- //**********************************************************************/// -->